.hero
  @apply py-10 relative z-0 bg-transparent
  min-height: 32rem

.pricing
  @apply bg-white pb-10 pt-20
  margin-top: -12rem
  @screen sm
    margin-top: -14rem
  @screen md
    margin-top: -16rem
  @screen lg
    margin-top: -16rem
  @screen xl
    margin-top: -20rem
