.bg
  background-image: linear-gradient(45deg, config('colors.pacific-dark'), config('colors.denim'))
  transform: skewY(-6deg)
  transform-origin: top left
  width: 100%
  height: 100%

.how
  background-image: linear-gradient(135deg, config('colors.denim-lighter'), config('colors.grey-lightest'))
